{% extends 'templates/base.html' %}

{% block title %}
    <title> Exercício de Adição </title>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var kind = '{{ kind }}';
        var level = '{{ level }}';
    </script>
{% endblock %}
{% block content %}
    <div id="wrap" ng-controller="MathController">
        <h1> Exercício de Adição</h1>

        <div>
            {time_spent}
        </div>
        <div id="bloco2">
            <header>
                <nav>
                    <ul>
                        <h2> { problem.number_one } {problem.operation} { problem.number_two } </h2>

                        <button type="button" ng-click="answer(0)" class="btn btn-primary btn-lg">{problem.choices[0]}
                        </button>
                        <button type="button" ng-click="answer(1)" class="btn btn-primary btn-lg">{problem.choices[1]}
                        </button>
                        <button type="button" ng-click="answer(2)" class="btn btn-primary btn-lg">{problem.choices[2]}
                        </button>
                    </ul>
                </nav>
            </header>
        </div>
        <!--
        <div id="bloco3">
            <aside>
                <ul>
                    <li><a href="../templates/nivel.html"> Voltar </a></li>
                </ul>
            </aside>
        </div> -->
    </div>
{% endblock %}