{% extends 'templates/base.html' %}

{% block title %}
    <title> Exercicio de Divisao </title>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var kind = '{{ kind }}';
        var level = '{{ level }}';
    </script>
{% endblock %}
{% block content %}
    <div id="wrap" ng-cotroller="MathController">
        <h1> Exercicio de Divisao </h1>

        <div id="bloco2">
            <header>
                <nav>
                    <ul>
                        <h1> { problem.number_one } {op} {problem.operation} { problem.number_two } </h1>

                        <button type="button" ng-click="answer(0)" class="btn btn-primary"> {problem.choices[0]}
                        </button>
                        <button type="button" ng-click="answer(1)" class="btn btn-primary"> {problem.choices[1]}
                        </button>
                        <button type="button" ng-click="answer(2)" class="btn btn-primary"> {problem.choices[2]}
                        </button>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
{% endblock %}