{% extends 'templates/base.html' %}

{% block title %}
    <title> Nível </title>
{% endblock %}

{% block content %}
    <div id="wrap">
        <h1> Escolha o seu nivel </h1>

        <div id="bloco2">
            <header>
                <nav>
                    <ul>
                        <li><a href="nivel/facil" class="btn btn-primary btn-lg btn-block"> Facil</a></li>
                        <li><a href="nivel/medio" class="btn btn-primary btn-lg btn-block"> Medio</a></li>
                        <li><a href="nivel/dificil" class="btn btn-primary btn-lg btn-block"> Dificil</a></li>

                    </ul>
                </nav>
            </header>
        </div>

    </div>
{% endblock %}