<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Exercicio de Multiplicacao</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.js"/>
    <link rel="stylesheet" type="text/css" href="/static/css/aritmetica.css"/>
</head>
<body>
<div id="wrap">
    <h1> Exercicio de Multiplicacao </h1>

    <div id="bloco2">
        <header>
            <nav>
                <ul>
                    <h1>Local onde mostra exercicios</h1>

                    <button type="button" class="btn btn-primary"> Resposta 1</button>
                    <button type="button" class="btn btn-primary">Resposta 2</button>
                    <button type="button" class="btn btn-primary">Resposta 3</button>
                </ul>
            </nav>
        </header>
    </div>
</div>
</body>
</html>