<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pagina home</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.js" />
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />

    </head>
    <body>
        <div id="wrap">
            <h1>MatBase</h1>
            <div id="bloco2">
                <header>
                    <nav><!--

                        <ul>
                            <li><a href="Aritimetica/adicao.html">Adicao</a></li>
                            <li><a href="Aritimetica/subtracao.html">Subtracao</a></li>
                            <li><a href="Aritimetica/multiplicacao.html">Multiplicacao</a></li>
                            <li><a href="Aritimetica/divisao.html">Divisao</a></li>
                        </ul> -->
                        <ul>
                            <li><a href="templates/adicao.html" class="btn btn-primary btn-lg active" role="button">Adicao</a>
                            </li>
                            <li><a href="Aritimetica/subtracao.html" class="btn btn-primary btn-lg active" role="button">Subtracao</a></li>
                            <li><a href="Aritimetica/multiplicacao.html" class="btn btn-primary btn-lg active" role="button">Multiplicacao</a></li>
                            <li><a href="Aritimetica/divisao.html" class="btn btn-primary btn-lg active" role="button">Divisao</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div id="competir">
                <aside>
                     <ul>
                         <li><a href="#">Sala de Competicao </a></li>
                     </ul>
                </aside>
            </div>
        </div>
    </body>
</html>