body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrap {
    width: 1000px;
    margin: auto;
    background: #e3e3e3;
    padding: 10px 20px;
    overflow: auto;
}

#bloco2 {
    float: left;
    width: 800px;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

h1 {
    margin-right: 20px;
    padding: 60px;
}

button {
    padding: 20px 40px;
}